spring:
  datasource:
    hikari:
      max-lifetime: 600000
      maximum-pool-size: 50
  session:
    timeout: 8h
  main:
    banner-mode: console
  jpa:
    hibernate:
      ddl-auto: none

  devtools:
    livereload:
      enabled: false

  profiles:
    include:
      - secrets
      - advisor
      - scores
  flyway:
    placeholders:
      language: ${ambassador.language}
    mixed: true

springdoc:
  api-docs:
    groups:
      enabled: true
    path: /api/docs
  swagger-ui:
    disable-swagger-default-url: true
    path: /api/docs/ui
    urls:
      - url: "/api/docs"
        name: "Indexer"
  webjars:
    prefix: /ui

management:

  health:
    livenessstate:
      enabled: true
    readinessstate:
      enabled: true
    diskspace:
      threshold: 30MB
  endpoint:
    health:
      show-components: when_authorized
      probes:
        enabled: true
      group:
        readiness:
          include: readinessState,sources
        startup:
          include: startupState
      roles:
        - ROLE_ADMIN
    metrics:
      export:
        prometheus:
          enabled: true
      enabled: true
    prometheus:
      enabled: true
  endpoints:
    web:
      exposure:
        include:
          - health
          # TODO enable prometheus endpoint when IP-based security is enabled
#          - prometheus

---
ambassador:
  language: english
  security:
    enabled: true
  indexer:
    subscription:
      unsubscribe:
        topic: unsubscribe
    features:
      requireVisibility:
        - public
        - internal
    concurrency:
      producerThreadPrefix: indxr-
      consumerThreadPrefix: prj-indxr-
      supportingThreadPrefix: spprt-
      concurrencyLevel: 30
    lock-type: in_memory
    historySize: 10
    gracePeriod: 7d
    criteria:
      projects:
        excludeGroups:
          - 1745
        excludeArchived: true
        excludeForks: true
        maxVisibility: internal
        lastActivityWithin: 365d
        mustHaveDefaultBranch: true
        mustHaveNotEmptyRepo: true
        mustBeAbleToCreateMergeRequest: true
        mustBeAbleToFork: true
  events:
    async:
      thread-name-prefix: events-
      corePoolSize: 2
      maxPoolsSize: 10
  openapi:
    title: The Ambassador API
    contact:
      name: Mateusz Filipowicz
      url: https://github.com/Roche
    license:
      name: Apache-2.0
      url: https://www.apache.org/licenses/LICENSE-2.0.txt

logging:
  level:
    root: warn
    com.roche: info
