spring:
  session:
    timeout: 8h
  main:
    banner-mode: console

#  datasource:
#    url: jdbc:postgresql://localhost:5432/postgres
#    username: postgres
#    password: postgres

  jpa:
    hibernate:
      ddl-auto: none

  devtools:
    livereload:
      enabled: false

  profiles:
    include:
      - secrets
  flyway:
    placeholders:
      language: ${ambassador.language}
    mixed: true

logging.level.com.filipowm.ambassador.gitlab.ProjectReader: WARN

ambassador:
  language: english
  indexer:
    concurrency:
      concurrencyLevel: 30
    lock-type: in_memory
  events:
    async:
      thread-name-prefix: events-
