spring:
  main:
    banner-mode: console

  datasource:
    url: jdbc:postgresql://localhost:5432/postgres
    username: postgres
    password: postgres

  jpa:
    hibernate:
      ddl-auto: none

  devtools:
    livereload:
      enabled: false

#  logging.level.org.springframework=ERROR

#spring.jpa.hibernate.ddl-auto=none
#spring.jpa.properties.hibernate.jdbc.lob.non_contextual_creation=true

logging.level.org.jooq.Constants: DEBUG
logging.level.pl.filipowm.opensource.ambassador.gitlab.ProjectReader: WARN
ambassador:
  indexer:
    concurrency:
      concurrencyLevel: 2