apiVersion: v1
kind: Secret
metadata:
  name: postgres-secrets
data:
  application-secrets.yml: |
    {{- include "database.yml" . | b64enc | nindent 4 }}
  {{ if .Release.IsUpgrade }}
  # `index` function is necessary because the property name contains a dash.
  # Otherwise (...).data.db_password would have worked too.
  postgresql-password:  {{ index (lookup "v1" "Secret" .Release.Namespace "postgres-secrets").data "postgresql-password" }}
  {{ else }}
  postgresql-password: {{ randAlphaNum 20 | b64enc }}
  {{ end }}