apiVersion: v1
kind: Service
metadata:
  name: {{ include "indexer.fullname" . }}
  namespace: {{ $.Release.Namespace }}
  labels: {{- include "indexer.labels" . | nindent 4 }}
spec:
  type: {{ .Values.service.type }}
  ports:
    - port: {{ .Values.service.port }}
      targetPort: http
      protocol: TCP
      name: http
  selector: {{- include "indexer.selectorLabels" . | nindent 4 }}
