name: Helm Chart
on:
  push:
    branches:
      - master
      - develop
    tags:
      - '*'
    paths:
      - 'infrastructure/charts/**'
  pull_request:
    branches:
      - '*'
    paths:
      - 'infrastructure/charts/**'

jobs:
  cleanup-runs:
    runs-on: ubuntu-latest
    steps:
      - uses: rokroskar/workflow-run-cleanup-action@master
        env:
          GITHUB_TOKEN: "${{ secrets.GITHUB_TOKEN }}"

  helm:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v2
        with:
          fetch-depth: 0

      - name: Configure Git
        run: |
          git config user.name "Mateusz Filipowicz"
          git config user.email "filipowm@users.noreply.github.com"

      - name: Install Helm
        uses: azure/setup-helm@v1
        with:
          version: v3.7.2

      - uses: actions/setup-python@v2
        with:
          python-version: 3.7

      - name: Set up chart-testing
        uses: helm/chart-testing-action@v2.1.0

      - name: Add helm repos
        run: helm repo add bitnami https://charts.bitnami.com/bitnami

      - name: Run chart-testing (list-changed)
        id: list-changed
        run: |
          changed=$(ct list-changed --chart-dirs infrastructure/)
          if [[ -n "$changed" ]]; then
            echo "::set-output name=changed::true"
          fi

      - name: Run chart-testing (lint)
        run: ct lint --chart-dirs infrastructure/

      - name: Create kind cluster
        uses: helm/kind-action@v1.2.0
        if: steps.list-changed.outputs.changed == 'true'

      - name: Run chart-testing (install)
        run: ct install --chart-dirs infrastructure/

      - name: Run chart-releaser
        uses: helm/chart-releaser-action@v1.2.1
#        if: ${{ contains(github.ref, 'refs/tags/') }}
        with:
          charts_dir: infrastructure
          charts_repo_url: https://roche.github.io/the-ambassador/
          config: .github/chart_releaser_config.yml
        env:
          CR_TOKEN: "${{ secrets.GITHUB_TOKEN }}"
