name: SAST
on:
  push:
    branches:
      - master
      - develop
    paths-ignore:
      - infrastructure/**
  pull_request:
    branches:
      - '*'

jobs:
  detekt:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3
      - name: Set up JDK 11
        uses: actions/setup-java@v3
        with:
          java-version: '11'
          distribution: 'adopt'
          cache: gradle
      - name: Run detekt
        run: ./gradlew detekt -PrunDetekt
      - name: Upload Detekt Sarif
        id: detekt-sarif
        uses: github/codeql-action/upload-sarif@v2
        if: success() || failure()
        with:
          sarif_file: build/reports/detekt.sarif

